.form {
  width: 100%;
  margin: 2em 0;
}

.input_container, 
.input_Num_container,
.endereco_container {
  display: flex;
  flex-direction: column;
    margin-bottom: 1em;
}

.button_container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
  
.endereco_container {
  margin-bottom: 50px;
}

.aviso {
  margin-bottom: 2em;
}

.mask input {
  padding: .7em;
  border-radius: 3px;
  border: 1px solid #000000a8;   
}

.mask input::placeholder {
  color: #7b7b7b;
}
  
  @media (min-width: 770px) {
      .input_container {
        flex-direction: row;
        gap: 3em;
      }
      .input_Num_container {
        flex-direction: row;
      }
  
      .endereco_container {
        display: grid;
  
        grid-template-columns: 270px 270px 270px;
        grid-template-rows: 65px 65px;
  
        grid-template-areas: "cep empty empty"
        "bairro rua num";
  
        gap: 15px 20px;
      }
  
      .cep {
        grid-area: cep;
      }
  
      .empty {
        grid-area: empty;
      }
  
      .bairro {
        grid-area: bairro;
      }
      .rua {
        grid-area: rua;
      }
      .num {
        grid-area: num;
      }
  }
  
  @media (max-width: 1095px) and (min-width: 768px) {
  .input_Num_container {
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
}

@media (max-width: 1198px) and (min-width: 768px) {
  .endereco_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
}
  
