* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  
  background-image: linear-gradient(to left, #237aa3, #47abd9);
}